<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="mailto:info@jorisborgdorff.nl">Email</a>
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://github.com/blootsvoets">GitHub</a>
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://www.linkedin.com/in/jorisborgdorff">LinkedIn</a>
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://www.researchgate.net/profile/Joris_Borgdorff">ResearchGate</a>
    <span class="fa fa-files-o fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="http://software.esciencecenter.nl/person/j.borgdorff">Netherlands eScience Center</a>
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
  </li>
</ul>